<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Arinc-->
    <add key="ARINC" value="Arinc_Interface"/>
    <!--PLC-SAC(Domestic)-->
    <add key="PLC_Dom" value="Port_comm_PLC_4747"/>
    <!--PLC-SAC(International)-->
    <add key="PLC_Int" value="Port_comm_PLC_4748"/>
    <!--PLC-SAC(MES)-->
    <add key="PLC_MES" value="Port_comm_PLC_MES"/>
    <!--PLC-SAC(REJECT)-->
    <add key="PLC_REJ" value="Port_comm_PLC_REJ"/>
    <!--SAC ALLOCATION-->
    <add key="SAC_ALLOCATION" value="CebuSACLogs"/>
    <!--SQL SERVER-->
    <add key="SQLinstance" value="SQLEXPRESS"/>
    <!--SQL SERVER-->
    <add key="AODBinstance" value="AODB_INTERFACE_TCPIP"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="CebuSAC_dbConnectionString" connectionString="Data Source=LPBIL01123\SQLEXPRESS;Initial Catalog=CebuSAC2_db;Persist Security Info=True;User ID=sa;Password=root" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>